header {
	position: sticky;
	top: 0;
	background-color:#7286D3;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 10%;
}

header .main {
	display: flex;
	align-items: center;
}

header .right-content {
	display: flex;
	align-items: center;
}

header .right-content h2 {
	margin-left: 20px;
}

header a, footer a {
	text-decoration: none;
	color: white;
}

header a:hover, footer a:hover {
	color: #0D4C92;
}

.logo {
	border-radius: 20%;
	margin-right: 5px;
}
