.main-image {
	display: flex;
	justify-content: center;
}

.main-image img {
	max-height: 30%;
	max-width: 90%;
	border-radius: 20px;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.project, .daily-update {
	width: 80%;
	margin-bottom: 20px;
}

.project-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.heading {
	text-align: center;
	margin: 20px;
}

.project-details {
	margin-bottom: 20px;
}

.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.row h4 {
	width: 45%;
	text-align: end;
}

.row p {
	width: 45%;
}

.row .input-div {
	width: 45%;
}

.row input {
	width: 50%;
	padding: 10px;
	border: 1px solid #7286D3;
	border-radius: 10px;
	box-sizing:border-box;
}

.submit-button {
	display: flex;
	justify-content: center;
}

input[type="submit"] {
	font-size: 1.1rem;
	padding: 15px 30px;
	background-color: #7286D3;
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links a {
	margin-top: 10px;
}

table th, table td {
	text-align: center;
	padding: 10px 30px;
	margin: 0px;
	border: 1px solid #7286D3;
}

.alert {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: red;
}
