<div class="main-image">
  <img src="/assets/images/HACK_image1.png" />
</div>
<div class="details">
  <div class="project">
    <h2 class="heading">Project Details</h2>
    <div class="project-details">
      <div class="row">
        <h4>Project Name</h4>
        <p>{{project.name}}</p>
      </div>
      <div class="row">
        <h4>Project Unit</h4>
        <p>{{project.unit}}</p>
      </div>
      <div class="row">
        <h4>Location</h4>
        <p>{{project.location}}</p>
      </div>
      <div class="row">
        <h4>Customer</h4>
        <p>{{project.customer}}</p>
      </div>
      <div class="row">
        <h4>HR Name</h4>
        <p>{{hrDetails.name}}</p>
      </div>
      <div class="row">
        <h4>HR Employee Id</h4>
        <p>{{hrDetails.employeedId}}</p>
      </div>
      <div class="row">
        <h4>HR Contact</h4>
        <p>{{hrDetails.contact}}</p>
      </div>
    </div>
  </div>
  <div
    *ngIf="dailyUpdates.length !== 0"
    class="daily-updates"
  >
    <h2 class="heading">Daily Updates</h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let update of dailyUpdates">
          <td>{{update.date}}</td>
          <td>{{update.description}}</td>
          <td>{{update.duration}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="daily-update">
    <h2 class="heading">
      {{!todaysUpdate.description ? 'Give' : 'Edit' }} Daily Update
    </h2>
    <form
      name="dailyUpdateForm"
      class="daily-update-form"
      (ngSubmit)="dailyUpdateForm.form.valid && postTodaysUpdate(dailyUpdateForm.value)"
      #dailyUpdateForm="ngForm"
      novalidate
    >
      <div class="row">
        <h4>Description</h4>
        <div class="input-div">
          <input
            type="text"
            name="description"
            placeholder="Description"
            [ngModel]="todaysUpdate.description"
            required
          />
        </div>
      </div>
      <div class="row">
        <h4>Duration (in hours)</h4>
        <div class="input-div">
          <input
            type="number"
            name="duration"
            placeholder="Duration (in hours)"
            [ngModel]="todaysUpdate.duration"
            required
          />
        </div>
      </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="!dailyUpdateForm.form.valid && dailyUpdateForm.touched"
        >
          <p>All fields are required</p>
        </div>
      <div class="submit-button">
        <input type="submit" />
      </div>
    </form>
  </div>
</div>
