<div class="main-image">
  <img src="/assets/images/HACK_image1.png" />
</div>
<div class="details">
  <div class="project">
    <h2 class="heading">Project Details</h2>
    <div class="project-details">
      <div class="row">
        <h4>Project Name</h4>
        <p>{{project.name}}</p>
      </div>
      <div class="row">
        <h4>Project Unit</h4>
        <p>{{project.unit}}</p>
      </div>
      <div class="row">
        <h4>Location</h4>
        <p>{{project.location}}</p>
      </div>
      <div class="row">
        <h4>Customer</h4>
        <p>{{project.customer}}</p>
      </div>
      <div class="row">
        <h4>HR Name</h4>
        <p>{{hrDetails.name}}</p>
      </div>
      <div class="row">
        <h4>HR Employee Id</h4>
        <p>{{hrDetails.employeedId}}</p>
      </div>
      <div class="row">
        <h4>HR Contact</h4>
        <p>{{hrDetails.contact}}</p>
      </div>
    </div>
  </div>
</div>
<app-daily-updates-table></app-daily-updates-table>
<app-daily-update-form></app-daily-update-form>
