<header>
  <div class="main">
    <img
      class="logo"
      src="/assets/images/HACK_logo.png"
      width="50px"
      height="50px"
    />
    <h1>HACK</h1>
  </div>
  <div *ngIf="token==null" class="right-content">
    <a href="/signin"><h2>Login</h2></a>
  </div>
  <div *ngIf="token!=null" class="right-content">
    <a *ngIf="role=='ROLE_HR'" href="/hr"><h2>HR</h2></a>
    <a *ngIf="role=='ROLE_EMPLOYEE'" href="/employee"><h2>Employee</h2></a>
    <a *ngIf="role=='ROLE_ADMIN'" href="/admin/initialize-data">
      <h2>Initialize Data</h2>
    </a>
    <a *ngIf="role!='ROLE_ADMIN'" href="/profile"><h2>Profile</h2></a>
    <h2 (click)="signOut()">Logout</h2>
  </div>
</header>
