.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile {
	width: 80%;
}

.profile h1 {
	text-align: center;
}

.edit-profile {
	padding-right: 10%;
	text-align: end;
	margin-bottom: 60px;
}

.profile-head {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	margin-bottom: 30px;
}

.profile-head div {
	width: 45%;
}

.profile-head .image {
	display: flex;
	justify-content: flex-end;
}

.profile-head img {
	width: 85px;
	height: 80px;
	border-radius: 50%;
}

.profile-head h2, .profile-head p {
	margin-bottom: 10px;
}

.profile-details {
	margin-bottom: 20px;
}

.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.profile-details .row h4, .qualification-form .row p {
	width: 45%;
	text-align: end;
}

.profile-details .row p {
	width: 45%;
}

.row .input-div {
	width: 45%;
}

.row input {
	width: 50%;
	padding: 10px;
	border: 1px solid #7286D3;
	border-radius: 10px;
	box-sizing:border-box;
}

.submit-button {
	display: flex;
	justify-content: center;
}

input[type="submit"] {
	font-size: 1.1rem;
	padding: 15px 30px;
	background-color: #7286D3;
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
}

.qualifications .heading-group {
	display: flex;
	justify-content: space-between;
	margin: 40px 10% 20px 10%;
}

.qualifications .heading {
	margin: 40px 10% 20px 10%;
}

.no-qualification {
	text-align: center;
}

.qualification {
	background-color: #7286D3;
	border-radius: 10px;
	margin: 30px 15%;
	padding: 15px 40px;
}

.qualification .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.qualification img {
	width: 20px;
	height: 20px;
}

.qualification p {
	margin-bottom: 5px;
}

.qualification-form {
	margin-bottom: 20px;
}

.qualification-form h5 {
	text-align: center;
	font-size: 1.1rem;
	margin-bottom: 15px;
}
