<div class="main-image">
  <img src="/assets/images/HACK_image1.png" />
</div>
<div class="details">
  <div class="project">
    <div class="project-head">
      <h2>Project Details</h2>
      <a href="/hr/project/edit">Edit</a>
    </div>
    <div class="project-details">
      <div class="row">
        <h4>Project Name</h4>
        <p>{{project.name}}</p>
      </div>
      <div class="row">
        <h4>Project Unit</h4>
        <p>{{project.unit}}</p>
      </div>
      <div class="row">
        <h4>Location</h4>
        <p>{{project.location}}</p>
      </div>
      <div class="row">
        <h4>Customer</h4>
        <p>{{project.customer}}</p>
      </div>
    </div>
    <div class="links">
      <a href="/hr/project/employees">Project Employees</a>
      <a href="/hr/project/employees/new">Add New Employees</a>
    </div>
  </div>
</div>
<app-daily-updates-table></app-daily-updates-table>
<app-daily-update-form></app-daily-update-form>
